<div class="containerFooter mx-auto" id="footer">
    <div class="row mx-auto" id="infoAutor">
       <div class="col-12">
        <h3>Camilo Montes</h3>
        <p> Web Developer Full stack</p>

       </div> 
    </div>
    <div class="row">
         <div class="col-12">
            <label ><a href=""><i class="fa-brands fa-github"></i></a></label>
            
         </div> 
         <div class="col-12"><label><a href=""><i class="fa-brands fa-linkedin"></i></a></label>
        </div>
        
        

        
            

        
     </div>
</div>