.containerFooter{
    display: flex;
    align-items: center;
    gap: 2em;
    border-radius: 10px  ;
    padding: 3em 5em;
    width: 1000px;
    margin-left: 50px;
    margin-right: 50px ;
    margin-bottom: 10em;
    border: solid white;
    background: rgba(136, 134, 136, 0.089);
    
}

