#contenidoFooter{
    height: 150px;
    width: 1600px;
    background:#030A12;

}

#imgLogoPokemon{
    margin-top: 10px;
    width: 100x;
    height: 110px;
    margin-block-start: auto;

    
}

.imagenLogoPokemon1{
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .imagenLogoPokemon1>img{
    max-width: 50%;
}